<!--create.ejs-->

<form action="/realestate/create" method="POST">

    <caption style="font-size: 100px; font-weight:bold">Property Create form</caption>
    <div class="row">
        <div class="col-xl-6">
            <label style="font-weight: bold">Property title:</label>
            <input type="text" class="form-control" style="widows:500px" name="realestate[title]" required>
        </div>
        <div class="col-xl-6">
            <span style="font-weight: bold">Estate:</span><br>
            <select name="realestate[Estate]" style="width:500px" required>
                <option value="Festival City">Festival City</option>
                <option value="Tin Ma Court">Tin Ma Court</option>
                <option value="City One Shatin">City One Shatin</option>
            </select>
        </div>
        <div class="col-xl-6">

            <label for="GrossArea" style="font-weight: bold">Gross Area:</label><br>
            <input type="number" style="width:500px" step="1" min="0" max="1500" style="width:500px"
                name="realestate[GrossArea]" required>

        </div>

        <div class="col-xl-6">

            <label for="Rent" style="font-weight: bold">Rent:</label><br>
            <input type="number" step="1" min="0" max="50000" style="width:500px" name="realestate[Rent]"
                required>

        </div>

        <div class="col-xl-6">

            <label for="Image URL:" style="font-weight: bold">Image URL:</label><br>
            <input type="url" style="width:500px" name="realestate[ImageURL]" required>


        </div>

        <div class="col-xl-6">

            <label for="Bedroom" style="font-weight: bold">Bedrooms:</label><br>
            <input type="number" step="1" min="1" max="10" style="width:500px" name="realestate[Bedroom]" required>

        </div>
        <div class="col-xl-6">

            <label for="ExpectedTenants" style="font-weight: bold">Expected Tenants:</label><br>
            <input type="number" step="1" min="1" max="10" style="width:500px" name="realestate[ExpectedTenant]"
                required>

        </div>
        <div class="col-xl-6">
            <input name="realestate[box]" type="checkbox" value="Highlighted Property">Highlighted Property<br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </div>
</form>